USE [master]
GO
/****** Object:  Database [HealthInsurance3]    Script Date: 11/27/2021 9:28:21 PM ******/
CREATE DATABASE [HealthInsurance3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HealthInsurance', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.CHUBATHONG\MSSQL\DATA\HealthInsurance3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HealthInsurance_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.CHUBATHONG\MSSQL\DATA\HealthInsurance3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HealthInsurance3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HealthInsurance3]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 11/27/2021 9:28:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](250) NULL,
	[email] [varchar](250) NULL,
	[message] [varchar](250) NULL,
	[date] [date] NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 11/27/2021 9:28:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[joindate] [date] NULL,
	[fullname] [varchar](250) NULL,
	[username] [varchar](250) NULL,
	[password] [varchar](250) NULL,
	[address] [varchar](250) NULL,
	[phoneNumber] [varchar](50) NULL,
	[country] [varchar](50) NULL,
	[city] [varchar](50) NULL,
	[policyid] [int] NULL,
	[policyStatus] [varchar](50) NULL,
	[role] [varchar](50) NULL,
	[managerId] [int] NULL,
	[email] [varchar](250) NULL,
	[securitycode] [varchar](250) NULL,
	[photo] [varchar](250) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 11/27/2021 9:28:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackId] [int] IDENTITY(1,1) NOT NULL,
	[rate] [varchar](250) NULL,
	[message] [varchar](250) NULL,
	[dateofbirth] [date] NULL,
	[gender] [varchar](250) NULL,
	[email] [varchar](250) NULL,
	[phone] [varchar](250) NULL,
	[date] [date] NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[FeedbackId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hospital]    Script Date: 11/27/2021 9:28:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hospital](
	[HospitalId] [varchar](50) NOT NULL,
	[HospitalName] [varchar](250) NULL,
	[PhoneNumber] [varchar](50) NULL,
	[Location] [varchar](250) NULL,
	[Url] [varchar](250) NULL,
 CONSTRAINT [PK_Hospital] PRIMARY KEY CLUSTERED 
(
	[HospitalId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InsuranceCompany]    Script Date: 11/27/2021 9:28:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InsuranceCompany](
	[CompanyId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [varchar](50) NULL,
	[Address] [varchar](250) NULL,
	[Phone] [varchar](50) NULL,
	[Url] [varchar](50) NULL,
 CONSTRAINT [PK_InsuranceCompany] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Policy]    Script Date: 11/27/2021 9:28:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Policy](
	[policyId] [int] IDENTITY(1,1) NOT NULL,
	[policyName] [varchar](50) NULL,
	[policyDescription] [varchar](250) NULL,
	[amount] [money] NULL,
	[EMI] [money] NULL,
	[Duration] [int] NULL,
	[companyId] [int] NULL,
	[hospitalId] [varchar](50) NULL,
 CONSTRAINT [PK_Policy] PRIMARY KEY CLUSTERED 
(
	[policyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PolicyRequestDetails]    Script Date: 11/27/2021 9:28:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PolicyRequestDetails](
	[RequestId] [int] IDENTITY(1,1) NOT NULL,
	[RequestDate] [date] NULL,
	[EmployeeId] [int] NULL,
	[PolicyId] [int] NULL,
	[amount] [money] NULL,
	[Emi] [money] NULL,
	[companyId] [int] NULL,
	[Status] [varchar](50) NULL,
	[ManagerId] [int] NULL,
	[Reason] [varchar](250) NULL,
	[description] [varchar](250) NULL,
 CONSTRAINT [PK_PolicyRequestDetails] PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([ContactId], [name], [email], [message], [date]) VALUES (1, N'ricardo', N'phat@gmail.com', N'happy with this service', CAST(N'2020-11-10' AS Date))
INSERT [dbo].[Contact] ([ContactId], [name], [email], [message], [date]) VALUES (2, N'ricardo', N'phat@gmail.com', N'happy with this service', CAST(N'2020-11-10' AS Date))
INSERT [dbo].[Contact] ([ContactId], [name], [email], [message], [date]) VALUES (3, N'phat', N'a@gmail.com', N'i hope this service make me better', CAST(N'2020-11-10' AS Date))
SET IDENTITY_INSERT [dbo].[Contact] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmployeeId], [joindate], [fullname], [username], [password], [address], [phoneNumber], [country], [city], [policyid], [policyStatus], [role], [managerId], [email], [securitycode], [photo]) VALUES (1, CAST(N'2020-10-20' AS Date), N'Hai', N'employee3', N'$2b$10$R/Yyd4zAUKFSRB0wVs5VAOsBOJw54XGI9mlWaEd2zlBAvpS8aMc3W', N'saigon', N'0901234567', N'hcm', N'hcm', 1, N'Inactivated', N'employee', 1, N'c@gmail.com', NULL, N'https://localhost:44325/uploads/noavatar.png')
INSERT [dbo].[Employee] ([EmployeeId], [joindate], [fullname], [username], [password], [address], [phoneNumber], [country], [city], [policyid], [policyStatus], [role], [managerId], [email], [securitycode], [photo]) VALUES (47, CAST(N'2020-10-11' AS Date), N'haikenny', N'manager2', N'$2b$10$AwXHMBPX4SL3GNM3g30NJ.LOgvdhUegTyxLE5WKzR6i3fLVQ436gC', N'tphcm2', N'0123231654', N'hcm', N'hcm', 1, N'Inactivated', N'employee', 1, N'c@gmail.com', NULL, N'https://localhost:44325/uploads/noavatar.png')
INSERT [dbo].[Employee] ([EmployeeId], [joindate], [fullname], [username], [password], [address], [phoneNumber], [country], [city], [policyid], [policyStatus], [role], [managerId], [email], [securitycode], [photo]) VALUES (53, CAST(N'2020-10-11' AS Date), N'manager', N'manager', N'$2b$10$AwXHMBPX4SL3GNM3g30NJ.LOgvdhUegTyxLE5WKzR6i3fLVQ436gC', N'tphcm', N'0123231657', N'hcm', N'hcm', 1, N'Activated', N'manager', 1, N'chubathongp2000@gmail.com', NULL, N'https://localhost:44325/uploads/slide-2.jpg')
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([FeedbackId], [rate], [message], [dateofbirth], [gender], [email], [phone], [date]) VALUES (1, N'bad', N'bad service i dont appreciate ', CAST(N'2020-11-10' AS Date), N'Male', N'phat@gmail.com', N'012345678', CAST(N'2020-11-10' AS Date))
INSERT [dbo].[Feedback] ([FeedbackId], [rate], [message], [dateofbirth], [gender], [email], [phone], [date]) VALUES (2, N'good', N'good service i appreciate ', CAST(N'2020-11-10' AS Date), N'Male', N'phat@gmail.com', N'012345678', CAST(N'2020-11-10' AS Date))
INSERT [dbo].[Feedback] ([FeedbackId], [rate], [message], [dateofbirth], [gender], [email], [phone], [date]) VALUES (3, N'Avarage', N'good service i appreciate ', CAST(N'2021-11-14' AS Date), N'Female', N'a@gmail.com', N'012345678', CAST(N'2020-11-10' AS Date))
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
INSERT [dbo].[Hospital] ([HospitalId], [HospitalName], [PhoneNumber], [Location], [Url]) VALUES (N'1', N'Thong Nhat', N'114', N'SaiGon', N'ThongNhat.com')
INSERT [dbo].[Hospital] ([HospitalId], [HospitalName], [PhoneNumber], [Location], [Url]) VALUES (N'2', N'Binh Thanh', N'114', N'SaiGon', N'binhthanh.com')
INSERT [dbo].[Hospital] ([HospitalId], [HospitalName], [PhoneNumber], [Location], [Url]) VALUES (N'3', N'Gia Dinh', N'114', N'SaiGon', N'giadinh.com')
GO
SET IDENTITY_INSERT [dbo].[InsuranceCompany] ON 

INSERT [dbo].[InsuranceCompany] ([CompanyId], [CompanyName], [Address], [Phone], [Url]) VALUES (1, N'VTC', N'Binh Thanh', N'099999123', N'VTC.com')
INSERT [dbo].[InsuranceCompany] ([CompanyId], [CompanyName], [Address], [Phone], [Url]) VALUES (3, N'VNG', N'Binh Thanh', N'099999123', N'VNG.com')
INSERT [dbo].[InsuranceCompany] ([CompanyId], [CompanyName], [Address], [Phone], [Url]) VALUES (6, N'Lotus', N'Go Vap', N'012345689', N'Lotus.com')
SET IDENTITY_INSERT [dbo].[InsuranceCompany] OFF
GO
SET IDENTITY_INSERT [dbo].[Policy] ON 

INSERT [dbo].[Policy] ([policyId], [policyName], [policyDescription], [amount], [EMI], [Duration], [companyId], [hospitalId]) VALUES (1, N'Basic', N'100$ / month + 5% salary', 100.0000, 10.0000, 10, 7, N'1')
INSERT [dbo].[Policy] ([policyId], [policyName], [policyDescription], [amount], [EMI], [Duration], [companyId], [hospitalId]) VALUES (4, N'Premium', N'1200$ / year + 20% salary', 1200.0000, 120.0000, 10, 6, N'3')
INSERT [dbo].[Policy] ([policyId], [policyName], [policyDescription], [amount], [EMI], [Duration], [companyId], [hospitalId]) VALUES (5, N'VIP', N'600$ / 6 months + 10% salary', 600.0000, 60.0000, 20, 8, N'4')
SET IDENTITY_INSERT [dbo].[Policy] OFF
GO
SET IDENTITY_INSERT [dbo].[PolicyRequestDetails] ON 

INSERT [dbo].[PolicyRequestDetails] ([RequestId], [RequestDate], [EmployeeId], [PolicyId], [amount], [Emi], [companyId], [Status], [ManagerId], [Reason], [description]) VALUES (1, CAST(N'2020-11-10' AS Date), 1, 1, 20.0000, 26.0000, 1, N'Approve', 1, N'bussiness', N'travel to another place')
INSERT [dbo].[PolicyRequestDetails] ([RequestId], [RequestDate], [EmployeeId], [PolicyId], [amount], [Emi], [companyId], [Status], [ManagerId], [Reason], [description]) VALUES (2, CAST(N'2020-11-12' AS Date), 1, 1, 20.0000, 20.0000, 1, N'Approve', 1, N'bussiness', N'travel to another place')
INSERT [dbo].[PolicyRequestDetails] ([RequestId], [RequestDate], [EmployeeId], [PolicyId], [amount], [Emi], [companyId], [Status], [ManagerId], [Reason], [description]) VALUES (3, CAST(N'2020-11-10' AS Date), 1, 6, 20.0000, 26.0000, 1, N'Approve', 1, N'bussiness', N'travel to another place')
SET IDENTITY_INSERT [dbo].[PolicyRequestDetails] OFF
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Employee] FOREIGN KEY([managerId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Employee]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Policy] FOREIGN KEY([policyid])
REFERENCES [dbo].[Policy] ([policyId])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Policy]
GO
ALTER TABLE [dbo].[Policy]  WITH CHECK ADD  CONSTRAINT [FK_Policy_Hospital] FOREIGN KEY([hospitalId])
REFERENCES [dbo].[Hospital] ([HospitalId])
GO
ALTER TABLE [dbo].[Policy] CHECK CONSTRAINT [FK_Policy_Hospital]
GO
ALTER TABLE [dbo].[Policy]  WITH CHECK ADD  CONSTRAINT [FK_Policy_InsuranceCompany] FOREIGN KEY([companyId])
REFERENCES [dbo].[InsuranceCompany] ([CompanyId])
GO
ALTER TABLE [dbo].[Policy] CHECK CONSTRAINT [FK_Policy_InsuranceCompany]
GO
ALTER TABLE [dbo].[PolicyRequestDetails]  WITH CHECK ADD  CONSTRAINT [FK_PolicyRequestDetails_Employee] FOREIGN KEY([ManagerId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[PolicyRequestDetails] CHECK CONSTRAINT [FK_PolicyRequestDetails_Employee]
GO
ALTER TABLE [dbo].[PolicyRequestDetails]  WITH CHECK ADD  CONSTRAINT [FK_PolicyRequestDetails_Employee2] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[PolicyRequestDetails] CHECK CONSTRAINT [FK_PolicyRequestDetails_Employee2]
GO
ALTER TABLE [dbo].[PolicyRequestDetails]  WITH CHECK ADD  CONSTRAINT [FK_PolicyRequestDetails_InsuranceCompany] FOREIGN KEY([companyId])
REFERENCES [dbo].[InsuranceCompany] ([CompanyId])
GO
ALTER TABLE [dbo].[PolicyRequestDetails] CHECK CONSTRAINT [FK_PolicyRequestDetails_InsuranceCompany]
GO
ALTER TABLE [dbo].[PolicyRequestDetails]  WITH CHECK ADD  CONSTRAINT [FK_PolicyRequestDetails_Policy2] FOREIGN KEY([PolicyId])
REFERENCES [dbo].[Policy] ([policyId])
GO
ALTER TABLE [dbo].[PolicyRequestDetails] CHECK CONSTRAINT [FK_PolicyRequestDetails_Policy2]
GO
USE [master]
GO
